{% extends 'base.html' %}

{% block body %}
{% load static %}

<section class="home-slider js-fullheight owl-carousel bg-white">


    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
            <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight" style="background-image:url(images/bg_2.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                    data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4">We Love <br> Delicious Foods</h1>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country.</p>
                        <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Book A Table</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}