{% extends 'base.html' %}

{% block body %}
{% load static %}

<section class="home-slider js-fullheight owl-carousel bg-white">

    {% for img in imageslider %}
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
            <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight"
                    style="background-image:url({{ img.image.url }});">
                    <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                    data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4">{{ img.name }}</h1>
                        <p>{{ img.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</section>

<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            {% for a in about1 %}
            <div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end"
                style="background-image: url({{ a.image.url }}); position: relative">
                <a href="{{ a.video.url }}"
                    class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="ion-ios-play"></span>
                </a>
            </div>
            {% endfor %}
            <div class="col-sm-7 wrap-about py-5 ftco-animate">
                <div class="heading-section mt-5 mb-4">
                    <div class="pl-lg-5 ml-md-5">
                        <span class="subheading">About</span>
                        {% for t in about2 %}
                        <h2 class="mb-4">{{ t.title }}</h2>
                        {% endfor %}
                    </div>
                </div>
                <div class="pl-lg-5 ml-md-5">

                    {% for t in about2 %}
                    <p>{{ t.desc }}</p>
                    {% endfor %}

                    <h3 class="mt-5">Special Recipe</h3>
                    <div class="thumb my-4 d-flex">
                        {% for t in about3 %}
                        <a href="#" class="thumb-menu pr-md-4 text-center">
                            <div class="img" style="background-image: url({{ t.image.url}});"></div>
                            <h4>{{ t.name }}</h4>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}